{% macro test_detail(test) %}
    {% set url = test.url %}
    <details class="{% if test.errors %}errors{% endif %}">
        <summary>{{ test.name }}</summary>
        {% if test.description %}
            <blockquote>{{ test.description }}</blockquote>
        {% endif %}
        <table class="table zebra">
            <tbody>
            <tr>
                <th>Duration</th>
                <td>{{ (test.duration * 1000)|round(2) }} msec</td>
            </tr>
            {% if url %}
                <tr>
                    <th>URL</th>
                    <td><a href="{{ url }}" target="_blank">{{ url }}</a></td>
                </tr>
            {% endif %}
            {% for key, value in test.get_report_detail()|dictsort %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if test.errors %}
            <ul>
                {% for error in test.errors %}
                    <li>
                        {{ error.__class__.__name__ }}: {{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </details>
{% endmacro %}

{% macro suite_summary_table(suite) %}
    <table class="table zebra sortable">
        <thead>
        <tr>
            <th>Test</th>
            <th>Type</th>
            <th class="num">Duration (msec)</th>
            <th class="num">Errors</th>
        </tr>
        </thead>
        <tbody>
        {% for test in suite.tests|sort(attribute='name') %}
            <tr>
                <td>{{ test.name }}</td>
                <td>{{ test.type }}</td>
                <td class="num" data-num="{{ test.duration }}">{{ (test.duration*1000)|round|int }}</td>
                <td class="num" data-num="{{ test.errors|count }}">{{ test.errors|count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro report_suite(suite) %}
    <article class="suite">
        <h2>{{ suite.name }}</h2>
        <section class="summary">
            <blockquote>{{ suite.description }}</blockquote>
            {% set tstats = suite.get_timing_stats() %}
            <table class="zebra">
                <tr>
                    <th>Number of Tests</th>
                    <td class="num">{{ suite.tests|length }}</td>
                </tr>
                <tr>
                    <th>Number of Errors</th>
                    <td class="num">{{ suite.num_errors }}</td>
                </tr>
                {% if tstats %}
                    <tr>
                        <th>Total Duration (msec)</th>
                        <td class="num">{{ tstats.total|round(1) }}</td>
                    </tr>
                    <tr>
                        <th>Min Duration (msec)</th>
                        <td class="num">
                            {{ tstats.min|round(1) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Max Duration (msec)</th>
                        <td class="num">
                            {{ tstats.max|round(1) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Duration Stats (msec)</th>
                        <td>
                            mean: {{ tstats.mean|round(1) }}; median: {{ tstats.median|round(1) }};
                            stdev: {{ tstats.stdev|round(1) }}
                        </td>
                    </tr>
                    {% for thresh in [0.05, 0.2, 0.3, 0.9] %}
                        <tr>
                            <th>APDEX<sub>{{ thresh|round(2) }}</sub></th>
                            <td class="num">{{ suite.calculate_apdex(thresh)|round(2) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% for key, value in suite.get_report_detail()|dictsort %}
                    <tr>
                        <th>{{ key|title }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
            {{ suite_summary_table(suite) }}
        </section>
        <section class="detail">
            <h3>Details</h3>
            {% for test in suite.tests|sort(attribute='name') %}
                {{ test_detail(test) }}
            {% endfor %}
        </section>
    </article>
{% endmacro %}
