brand-color = #0074D9
brand-anti-color = #7FDBFF
table-zebra-bg-color = #cef3ff
error-color = #FF4136

*
  box-sizing: border-box

header
  background brand-color
  color brand-anti-color
  text-transform uppercase
  letter-spacing 0.2rem
  padding 1rem
  margin-bottom 0.5rem
  font-size 1.5rem

h1, .f1
  font-size 3rem

h2, .f2
  font-size 2.25rem

h3, .f3
  font-size 1.5rem

body
  margin 0
  font 14pt / 1.4 avenir next, avenir, -apple-system, BlinkMacSystemFont, helvetica, helvetica neue, ubuntu, roboto, noto, arial, sans-serif

article
  margin 1em

.num
  text-align right !important

td
  vertical-align top

th
  text-align left

table.table
  width 100%
  border-collapse collapse
  thead
    th
      text-align left
      border-bottom 2px solid brand-color
      vertical-align bottom
  td, th
    padding 0.25rem

.zebra
  tbody tr:nth-child(even)
      td, th
        background table-zebra-bg-color

blockquote
  margin-left 0
  padding-left 0.5rem
  border-left 2px solid brand-anti-color

.errors
  color error-color

.cols
  display flex
  .col
    flex 1

dl
  margin-top 0

table.detail
  font-size 0.8rem
